<h1>Angular Pipes</h1>

<div class="row mt-4 mb-5">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Valor de Variable</th>
          <th>Pipe</th>
          <th>Output (salida)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>

        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>

        <tr>
          <td>{{listaCompra}}</td>
          <td>slice:2</td>
          <td>{{listaCompra |slice:2}}</td>
          <!-- trozea el array donde le digamos -->
        </tr>
        <tr>
          <td>{{listaCompra}}</td>
          <td>slice:2:4</td>
          <td>{{listaCompra |slice:2:4}}</td>
          <!-- trozea el array donde le digamos -->
        </tr>

        <tr>
          <td>{{nombreLargo}}</td>
          <td>slice:2:4</td>
          <td>{{nombreLargo |slice:2:4}}</td>
          <!-- trozea el array donde le digamos -->
        </tr>

        <tr>
          <td>{{PI}}</td>
          <td>number:'1.0-4'</td>
          <td>{{PI |number:'1.0-4'}}</td>
          <!-- nos pone 4 cifras decimales -->
          <!-- numero minimo y maximo de decimales que puede haber 0 a 4 -->
        </tr>
        <tr>
          <td>{{habitantes}}</td>
          <td>number:'5.0-4'</td>
          <td>{{habitantes |number:'5.0-4'}}</td>
        </tr>
        <tr>
          <td>{{numPasajero}}</td>
          <td>number:'3.0-0'</td>
          <td>{{numPasajero |number:'3.0-0'}}</td>
        </tr>

        <tr>
          <td>{{iva}}</td>
          <td>percent</td>
          <td>{{iva |percent}}</td>
        </tr>

        <tr>
          <td>{{iva}}</td>
          <td>percent custom</td>
          <td>{{iva |percent:'2.2-2'}}</td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td>currency</td>
          <td>{{salario |currency}}</td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td>currency EUR</td>
          <td>{{salario |currency: 'EUR'}}</td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td>currency MOP</td>
          <td>{{salario |currency: 'MOP'}}</td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td>currency EUR</td>
          <td>{{salario |currency:'EUR':'symbol':'.0-1'}}</td>
        </tr>

        <tr>
          <td>{{personaje}}</td>
          <td>json</td>
          <td>
            <pre>{{personaje | json}}</pre>
          </td>
          <!-- la etiqueta pre hace que no se le aplique un formato -->
        </tr>

        <tr>
          <td>{{dataLoader}}</td>
          <td>async</td>
          <td>{{ dataLoader| async}}</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td>date</td>
          <td>{{fecha |date}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date short</td>
          <td>{{fecha |date:'short'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date medium</td>
          <td>{{fecha |date:'medium'}}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date custom</td>
          <td>{{fecha |date:'hh:mm dd/MM/yyyy'}}</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td>date custom</td>
          <td>Hora:{{fecha |date:'hh:mm'}} - Fecha: {{fecha |date: 'dd/MM/yyyy'}}</td>
        </tr>

        <tr>
          <td>{{nombreMinusculas}}</td>
          <td>custom pipe capitalize true</td>
          <td>{{nombreMinusculas |capitalize:true}}</td>
        </tr>
        <tr>
          <td>{{nombreMinusculas}}</td>
          <td>custom pipe capitalize false</td>
          <td>{{nombreMinusculas |capitalize:false}}</td>
        </tr>

      </tbody>
    </table>

    <iframe width="560" height="315" [src]="videoUrl |safedom" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    {{nombre}}
  </div>
</div>
